.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  margin-bottom: 4rem;
}

.navbar.scrolled {
  background-color: black;
}

.cart a {
  position: relative;
}

.card__count {
  position: absolute;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  background-color: #c8a165;
  top: -11px;
  right: -10px;
}

.container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.bar button {
  position: relative;
  background: none;
  border: none;
  font-size: 1.5rem;
  z-index: 9999;
  transition: 0.3s;
}

.main__logo h4 {
  margin: 0;
  font-size: 1.5rem;
}

.cart {
  position: relative;
}

.cart a i {
  color: #666;
  font-size: 21px;
  transition: 0.3s;
}

.cart a i:hover {
  color: #c8a165;
}

.cart:hover .card__details {
  opacity: 1;
  max-height: 500px; /* Ensure this value is large enough to fit the content */
  transform: translateY(0%);
  visibility: visible; /* Ensure visibility is set */
}

.card__details {
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 300px;
  top: 100%;
  right: 0;
  z-index: 10;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease;
  visibility: hidden; /* Hide the element */
}

.additional__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
